<!DOCTYPE html>
<html>
	<head>
        <!-- import jQuery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <link rel="stylesheet" href="/index.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js">
        </script>

	</head>
    <style>
        .jumbotron {
            background-image:url('images/heartsbg.jpg');
        }
    </style>
	<body>
        <div class="container" style="border:none; background-color: rgba(100,82,86,0.2);"> <!-- background-color:#FF69B4; -->
            <div class="jumbotron" style="text-align:center; vertical-align: middle;"><h1 style="color:black;">Website Sentiment Analyzer</h1>
            <p>An app for analyzing the sentiment and personality characteristics of sites on the web.</p>
            </div>
    <!--

            <input type="text" style="float:left; height:3.5rem; border-radius:3px; width:80%;">
            <button type="button" class="btn btn-info" style="float:right;">Porto</button><br/><br/><br/><br/>
    -->

            <div class="form-group" style="width:100%; overflow:auto;">
                <label for="url">Please input a URL:</label>
                <div class="next-row" style="vertical-align:middle;">
                    <input id="url" name="user" type="text" class="form-control" method="post" style="width:80%; display:inline;">
                    <button id="loadRequest" type="button" class="btn btn-info" style="float:right;">Submit</button>
                </div>
            </div>
            <div id="val" style="font-size:20;">
            </div>

            <!-- <div class="btn" style="float:right; background-color:blue; color:white;">Click me</div>-->
        </div>
        <div id="wrapper" style="text-align: center">
            <div id="text-div" style="display: inline-block;">e.x. http://www.google.com


<!--
                <div id="outside-div" style="width:400px; height:400px; max-width: 400px; max-height: 400px; border:none; background-color: rgba(100,82,86,0.2); display: table-cell; vertical-align:middle;">
                    <p style="font-size:200px; color: grey;">:)</p>
                </div>
-->
                <div id="chart-div" style="max-width: 400px; max-height: 400px;">
                <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>


				<div class="container">
					<canvas id="myChart"></canvas>
				</div>

				<script>
				let myChart = document.getElementById('myChart').getContext('2d');

				//Global Options
				Chart.defaults.global.defaultFontFamily = 'Lato';
				Chart.defaults.global.defaultFontSize = 10;

				let massPopChart = new Chart(myChart, {
					type:'bar',
					data:{
						labels:['Anger','Disgust','Fear','Joy','Sadness'],
						datasets:[{
							label:'Site Sentiment Chart',
							data:[0.11, 0.01, 0.06, 0.60, 0.25],
							backgroundColor:[
								//anger
								'rgba(255, 99, 132, 0.2)',
								//disgust
								'rgba(75, 192, 192, 0.2)',
								//fear
								'rgba(153, 102, 255, 0.2)',
								//joy
								'rgba(255, 206, 86, 0.2)',
								//sadness
								'rgba(54, 162, 235, 0.2)'
							],
							borderWidth:1,
							borderColor:'#777',
							hoverBorderWidth:2,
							hoverColor:[
								//anger
								'red',
								//disgust
								'purple',
								//fear
								'green',
								//joy
								'yellow',
								//sadness
								'blue'
							]
						}]
					},
					options:{
						title:{
							display:true,
							text:'Sentiment analysis for website at URL',
							fontSize:16
						},
						legend:{
							display:true,
							position:'top',
							labels:{
								fontColor:'#000'
							}
						},
						layout:{
							padding:{
								left:50,
								right:50,
								bottom:0,
								top:0
							}
						},
						tooltips: {
							enabled:true,

						}
					}
				});

				</script>

        <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Anger", "Disgust", "Fear", "Joy", "Sadness"],
                datasets: [{
                    label: 'Sentiment Chart',
                    data: [0.11, 0.01, 0.06, 0.60, 0.25],
                    backgroundColor: [
                        //anger
                        'rgba(255, 99, 132, 0.2)',
                        //disgust
                        'rgba(75, 192, 192, 0.2)',
                        //fear
                        'rgba(153, 102, 255, 0.2)',
                        //joy
                        'rgba(255, 206, 86, 0.2)',
                        //sadness
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        //anger
                        'rgba(255,99,132,1)',
                        //disgust
                        'rgba(75, 192, 192, 1)',
                        //fear
                        'rgba(153, 102, 255, 1)',
                        //joy
                        'rgba(255, 206, 86, 1)',
                        //sadness
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        </script>
        <script>
            $(function() {
            $('#loadRequest').click(function() {
                $.post('/',
                       {name:$('#url').val()},
                function(){
                    $('#val').text(JSON.stringify(res));
                });

                $.get('/ajax', function(res) {
                    $('#val').text(JSON.stringify(res));
                    });
                });
            });
        </script>
	</body>
</html>
